.card {
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-white{
  background: #FFFFFF;
}

.text-center {
  text-align: center;
}

#wrapper {
  width: 75%;
  margin: 0px auto;
  padding: 30px;
  border-radius: 4px;
  background: rgba(0, 173, 181, .3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#left-container {
  width: 45%;
  float: left;
  min-height: 600px;
}

#right-container {
  width: 45%;
  float: right;
  min-height: 400px;
}

#footer {
  position: relative;
  padding: 10px 400px 5px 20px;
}

#pad-about {
  padding-left: 20px;
}

#clear {
  clear: both;
}

.social-icons {
  font-size: 50px;
}

.behavior-icons {
  font-size: 20px;
}

.list-inline > li {
  display: inline-block;
  padding: 20px;
}

.ul-no-padding {
  padding-left: 0
}

.pad-about {
  padding-left: 20px;
}

a {
  color: #B3B3B3;
}

a:hover {
  color: #00ADB5;
}

h1 {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  color: #00ADB5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 100%;
  font-weight: 400;
  color: #808080;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 110%;
  font-weight: 100;
  color: #999999;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 100%;
  font-weight: 100;
  background: #E6E6E6;
}
